<div id="text"></div>
<hr>
<input type="text" name="name" id="stext" />
<input type="submit" name="submit" id="submit" />

<!-- Create your template -->
<script type="text/html" id='textList'>
<div><%%= item %></div>
</script>
